* {
    flex-direction: column;
    padding: 8px;
    margin: 10px;
    align-items: center;
    flex-wrap: nowrap;
}

body {/* 
    align-items: center; */
    padding: auto;
    display: flex;
    flex-basis: 98%;
}

.containers {/* 
    align-items: center; */
    width:98%;
    max-width: 1200px;
    background-color: black;
}

.paragraph1 {
    background-color: yellow;
    
}

.paragraph2 {
    background-color: whitesmoke;
}

.rowStyle {
    flex-direction: row;
}